body {
    min-height: 800px;
    padding-top: 70px;
}

.player_win_true {
    color: red;
}

.player_status_2 {
    background-color: #e5e5e5;
    color: dimgrey;
}

.player_hole {
    border-radius: 25px;
    border: 2px solid #e5e5e5;
    padding: 20px;
}


#desk {
    border-radius: 25px;
    border: 2px solid #e5e5e5;
    padding: 70px;
    margin: 12px auto;
    min-height:272px;
    text-align: center;
}

.console {
    border-radius: 25px;
    border: 2px solid #e5e5e5;
    padding: 20px;
    margin: 12px 0px 0px 0px;
}

.card {
    margin: 8px;
}